.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.botones{
  margin-top: 40px;
}
.seleccion{
  margin-left: 61px;
  margin-top: 21px;
  position: fixed;
}
.todoA{
  margin-top: 17px;
  margin-bottom: 17px;
  margin-left: 17px;
  margin-right: 17px;
}
.tablaD{

}
.pedido{
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.login{
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
}
.pasos{
  
}
